/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#define HOST_OS 2
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"
#include "../zmk-nodefree-config/international_chars/russian.dtsi"

#define DEF 0
#define RUKB 1
#define LWR 2
#define RSE 3
#define ADJ 4

&lt { quick_tap_ms = <200>; };
&mt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_F2 {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp F2>;
        };
        combo_ENTER {
            timeout-ms = <50>;
            key-positions = <3 4>;
            bindings = <&kp ENTER>;
        };
         combo_BS {
            timeout-ms = <50>;
            key-positions = <4 5>;
            bindings = <&kp BSPC>;
        };
        combo_Del {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp DEL>;
        };
    };
};

/ {
    macros {
        kpa: kpa {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            wait-ms = <60>;
            tap-ms = <40>;
            bindings  = <&macro_press &kp LALT>, <&macro_tap &macro_param_1to1 &kp MACRO_PLACEHOLDER &macro_param_2to1 &kp MACRO_PLACEHOLDER>, <&macro_release &kp LALT>;
        };

        kx: kx {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <40>;
            bindings  = <&macro_tap &kp F12 &kp Q &kp F12>;
        };

        kpdoot: kpdoot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <60>;
            tap-ms = <40>;
            bindings  = <&macro_press &kp LALT>, <&macro_tap     &kp KP_N4 &kp KP_N6>, <&macro_release &kp LALT>;
        };
    };
};


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp ESC       &kp Q         &kp W         &kp E         &kp R         &hm BSLH T        &kp Y         &kp U         &kp I         &kp O         &kp P         &kp BSPC
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp LSHFT     &hm LSHFT A   &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L         &hm LSHFT SEMI &kp ENTER
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &hm LCTRL TAB  &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &hm RBKT M    &kp COMMA     &kp DOT       &kp LBKT      &kp SQT
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                               &kp LWIN      &mo LWR       &kp SPACE         &kp SPACE     &mo RSE       &kp LALT
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

                        >;
                };
   
  
                rukb_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp ESC       &ru_y         &ru_ts        &ru_u         &ru_k         &ru_ye            &ru_n         &ru_g         &ru_sh        &ru_shch      &ru_z         &kp BSPC
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp LSHFT     &ru_f         &ru_bi        &ru_v         &ru_a         &ru_p             &ru_r         &ru_o         &ru_l         &ru_d         &ru_zh        &kp ENTER
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &hm LCTRL TAB  &ru_ya        &ru_ch        &ru_s         &ru_m         &ru_i             &ru_t         &ru_soft      &ru_b         &ru_yu        &ru_kh        &ru_e
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                               &kp LWIN      &mo LWR       &kp SPACE         &kp SPACE     &mo RSE       &kp LALT
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
  
   
  
                lower_layer {

                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp LPAR      &kp RPAR      &kp LBKT      &kp RBKT      &kp LBRC      &kp RBRC          &kp KP_ASTERISK  &kp N1     &kp N2        &kp N3        &kp MINUS     &kp KP_SLASH       
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp LSHFT     &trans        &kp LEFT      &kp UP        &kp RIGHT     &kp HOME          &kp EQUAL     &kp N4        &kp N5        &kp N6        &kp KP_PLUS   &kp BSLH
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp LG(GRAVE) &kx           &kp PG_UP     &kp DOWN      &kp PG_DN     &kp END           &kp LA(LC(COMMA)) &kp N7    &kp N8        &kp N9        &kp LPAR      &kp RPAR
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                               &kp LALT      &trans        &kp UNDER         &kp LA(LC(DOT)) &trans      &hm LALT N0
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
  
  
                  raise_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp GRAVE     &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT         &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp CRRT      &kp AMPS      &kp LA(LC(SQT)) &kp DQT     &kp COLN      &kp LA(LC(SEMI))  &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp LCTRL     &kp PIPE      &kp NUBS      &kp LT        &kp GT        &kp QMARK         &trans        &trans        &trans        &trans        &trans        &kp LSHFT
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                               &trans        &mo ADJ       &kp UNDER         &trans        &trans        &kp LALT
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };


                adjust_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &sys_reset    &trans        &trans        &trans        &trans        &kp KP_NUM        &tog DEF      &tog RUKB     &trans        &trans        &trans        &sys_reset
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &sys_reset    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &trans
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &bt BT_CLR    &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &bt BT_CLR
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                               &trans        &trans        &trans            &trans        &trans        &trans
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
         };
};
